
.icon-ok:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-info-circled:before { content: '\e802'; } /* '' */
.icon-left-big:before { content: '\e803'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
