<section class="section m-0 p-0 pt-2 has-background-link">
  <div class="container">
    <div class="columns">
      <div class="column">
        <nav
          aria-label="main navigation"
          class="navbar has-background-link"
          role="navigation"
        >
          <div class="navbar-brand">
            <a class="navbar-item has-text-white has-text-weight-bold" href="/">
              <img [src]="imageUrl" alt="LOGO" />
              <span class="is-size-5-mobile is-size-5-tablet is-size-4-desktop"
                >&nbsp; Ciberseguridad para MiPymes Fusagasugá</span
              > </a
            ><a
              aria-label="menu"
              class="navbar-burger has-text-white"
              data-target="navbar"
              role="button"
            >
              <span aria-hidden=""></span>
              <span aria-hidden=""></span>
              <span aria-hidden=""></span>
            </a>
          </div>
          <div class="navbar-menu" id="navbar">
            <div class="navbar-end">
              <div class="navbar-item">
                <a
                  class="has-text-white"
                  href="../../assets/manual_usuario_mipyme_ciberseguridad.pdf"
                  target="_blank"
                  >Ayuda</a
                >
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>
