<header>
  <div class="container">
    <div class="logo">
        <img [src]="imageUrl" alt="logo de página">
    </div>
    <span class="site-name">MySafeLink</span>
    <nav>
      <ul>
        <li><a routerLink="/" routerLinkActive="active"><span class="icon-home"></span>Inicio</a></li>
        <li><a routerLink="/tips" routerLinkActive="active"><span class="icon-lightbulb"></span>Tips</a></li>
        <li><a routerLink="/informacion" routerLinkActive="active"><span class="icon-info-circled"></span>Información</a></li>
      </ul>
    </nav>
</div>

</header>
