<section class="section m-0 p-0">
  <div class="container">
    <div class="columns">
      <div class="column is-11 is-offset-1 px-0">
        <footer class="footer has-background-white">
          <section class="columns">
            <div class="column is-4">
              <nav class="level">
                <div class="level-left">
                  <small class="level-item"
                    ><a class="has-text-grey-light" href="/">{{
                      site
                    }}</a></small
                  >
                  <small class="level-item has-text-grey-light"
                    >© {{ year }}
                  </small>
                </div>
              </nav>
            </div>
            <div class="column is-4">
              <nav class="level">
                <div class="level-item">
                  <small class="level-item has-text-grey-light">
                    Todos los derechos reservados
                  </small>
                </div>
              </nav>
            </div>
            <div class="column is-4">
              <small class="level-item has-text-grey-light has-text-centered">
                Facultad de Ingeniería - GITEINCO
              </small>
              <small class="level-item has-text-grey-light has-text-centered">
                Facultad de ciencias administrativas, económicas y contables - ARADO
              </small>
            </div>
          </section>
        </footer>
      </div>
    </div>
  </div>
</section>
