<section class="section m-0 p-0">
  <div class="container">
    <div class="columns">
      <div class="column is-9 is-offset-1 px-0">
        <footer class="footer has-background-white">
          <nav class="level">
            <div class="level-left">
              <small class="level-item"
                ><a class="has-text-grey-light" href="/">{{ page }}</a></small
              >
              <small class="level-item has-text-grey-light"
                >© {{ year }}
              </small>
            </div>
            <div class="level-right">
              <small class="level-item has-text-grey-light">
                Todos los derechos reservados
              </small>
            </div>
          </nav>
        </footer>
      </div>
    </div>
  </div>
</section>
