<div class="container">
  <h1 class="is-4 title">TIPS Y CONSEJOS</h1>
  <p class="has-text-justified">
    En esta página encontrarás consejos útiles para el uso de tu sitio o
    aplicación web.
  </p>

  <section class="section px-0">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child box notification has-background-link-light">
          <nav class="level">
            <div class="level-left">
              <p class="level-item">
                <span class="tag is-rounded is-primary is-medium">1</span>
              </p>
            </div>
            <div class="level-right">
              <div class="level-item">
                <p class="subtitle is-6 has-text-black">
                  Cumplir políticas y normatividad
                </p>
              </div>
            </div>
          </nav>

          <p class="content is-small has-text-justified has-text-grey">
            Las MiPymes deben establecer las políticas según sus respectivas
            características, identificando los procesos críticos de la
            organización. Se debe incluir una normatividad interna en la cual se
            tengan en cuenta los compromisos de los empleados a partir de su
            contratación.
          </p>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box notification has-background-link-light">
          <nav class="level">
            <div class="level-left">
              <p class="level-item">
                <span class="tag is-rounded is-primary is-medium">2</span>
              </p>
            </div>
            <div class="level-right">
              <div class="level-item">
                <p class="subtitle is-6 has-text-black">Control de acceso</p>
              </div>
            </div>
          </nav>
          <p class="content is-small has-text-justified has-text-grey">
            Las empresas deben identificar los usuarios que tienen acceso a los
            diferentes recursos y brindar las respectivas credenciales y
            permisos a los empleados. Adicionalmente, los empleados deben estar
            conscientes de los riesgos de ciberseguridad y saber cómo
            protegerse.
          </p>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box notification has-background-link-light">
          <nav class="level">
            <div class="level-left">
              <p class="level-item">
                <span class="tag is-rounded is-primary is-medium">3</span>
              </p>
            </div>
            <div class="level-right">
              <div class="level-item">
                <p class="subtitle is-6 has-text-black">
                  Mantener el software actualizado
                </p>
              </div>
            </div>
          </nav>
          <p class="content is-small has-text-justified has-text-grey">
            Los fabricantes de las diferentes aplicaciones usadas en la empresa
            lanzan actualizaciones y parches que pueden ayudar a proteger los
            sistemas contra ataques por lo que la empresa debe realizar una
            adecuada planificación de la actualización de software para mantener
            un nivel adecuado de la ciberseguridad.
          </p>
        </div>
      </div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child box notification has-background-link-light">
          <nav class="level">
            <div class="level-left">
              <p class="level-item">
                <span class="tag is-rounded is-primary is-medium">4</span>
              </p>
            </div>
            <div class="level-right">
              <div class="level-item">
                <p class="subtitle is-6 has-text-black">
                  Utilizar una solución antivirus
                </p>
              </div>
            </div>
          </nav>
          <p class="content is-small has-text-justified has-text-grey">
            Una solución antivirus puede ayudar a detectar y eliminar malware de
            los sistemas de la empresa y este debe ser aplicado a todos los
            dispositivos de la empresa .
          </p>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box notification has-background-link-light">
          <nav class="level">
            <div class="level-left">
              <p class="level-item">
                <span class="tag is-rounded is-primary is-medium">5</span>
              </p>
            </div>
            <div class="level-right">
              <div class="level-item">
                <p class="subtitle is-6 has-text-black">
                  Copias de seguridad de los datos
                </p>
              </div>
            </div>
          </nav>
          <p class="content is-small has-text-justified has-text-grey">
            La empresa debe garantizar la disponibilidad, integridad y
            confidencialidad de la información de la misma, por lo tanto, se
            deben realizar copias de seguridad de los datos, así pueden ayudar a
            proteger la información en caso de un ataque de ciberseguridad.
          </p>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box notification has-background-link-light">
          <nav class="level">
            <div class="level-left">
              <p class="level-item">
                <span class="tag is-rounded is-primary is-medium">6</span>
              </p>
            </div>
            <div class="level-right">
              <div class="level-item">
                <p class="subtitle is-6 has-text-black">
                  Utilizar redes seguras
                </p>
              </div>
            </div>
          </nav>
          <p class="content is-small has-text-justified has-text-grey">
            La red corporativa debe ser restringida, solo debe habilitar accesos
            necesarios y asegurarse de que los dispositivos nuevos estén
            configurados correctamente con su antimalware actualizado. La
            navegación por internet debe ser limitada para evitar la exposición
            a amenazas que puedan vulnerar la red.
          </p>
        </div>
      </div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child box notification has-background-link-light">
          <nav class="level">
            <div class="level-left">
              <p class="level-item">
                <span class="tag is-rounded is-primary is-medium">7</span>
              </p>
            </div>
            <div class="level-right">
              <div class="level-item">
                <p class="subtitle is-6 has-text-black">
                  Cuidar la información en tránsito
                </p>
              </div>
            </div>
          </nav>
          <p class="content is-small has-text-justified has-text-grey">
            Gracias al avance tecnológico y la implementación de la industria
            4.0 ha llevado a realizar ciertas actividades desde los dispositivos
            personales de los empleados por lo que se debe tener presente los
            riesgos que esto conlleva por lo que se debe evitar dejar los
            dispositivos desatendidos en lugares públicos, evitar redes wifi
            públicas, utilizar VPN para el intercambio de información desde
            redes poco confiables, tener antivirus actualizado y realizar copias
            de seguridad periódicamente
          </p>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box notification has-background-link-light">
          <nav class="level">
            <div class="level-left">
              <p class="level-item">
                <span class="tag is-rounded is-primary is-medium">8</span>
              </p>
            </div>
            <div class="level-right">
              <div class="level-item">
                <p class="subtitle is-6 has-text-black">Gestionar soportes</p>
              </div>
            </div>
          </nav>
          <p class="content is-small has-text-justified has-text-grey">
            Las MIPYMES deben contar con diferentes alternativas para almacenar
            la información de manera segura y adaptándose a los cambios de
            negocio y las nuevas exigencias del entorno. Estos dispositivos de
            almacenamiento pueden ser discos duros, CD, DVD, sistemas de
            almacenamiento en red, memorias USB, entre otros. El uso de dichos
            dispositivos debe ser limitado y como precaución se debe evaluar la
            posibilidad de bloquear los puertos en equipos de usuarios no
            permitidos a manipular la información contenida en los dispositivos.
          </p>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box notification has-background-link-light">
          <nav class="level">
            <div class="level-left">
              <p class="level-item">
                <span class="tag is-rounded is-primary is-medium">9</span>
              </p>
            </div>
            <div class="level-right">
              <div class="level-item">
                <p class="subtitle is-6 has-text-black">
                  Registrar la actividad
                </p>
              </div>
            </div>
          </nav>
          <p class="content is-small has-text-justified has-text-grey">
            Para tener una idea de lo que ocurre en la red corporativa se debe
            monitorear la información y analizarla para detectar situaciones de
            riesgo y mitigar fallos de seguridad con mayor rapidez.
          </p>
        </div>
      </div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div
          class="tile is-4 is-child box notification has-background-link-light"
        >
          <nav class="level">
            <div class="level-left">
              <p class="level-item">
                <span class="tag is-rounded is-primary is-medium">10</span>
              </p>
            </div>
            <div class="level-right">
              <div class="level-item">
                <p class="subtitle is-6 has-text-black">
                  Tener un plan de ciberseguridad
                </p>
              </div>
            </div>
          </nav>
          <p class="content is-small has-text-justified has-text-grey">
            Las MIPYMES deben incluir medidas para proteger la información y los
            sistemas de la empresa y responder a los incidentes adecuados según
            las leyes y siguiendo lo recomendado por los estándares de
            ciberseguridad.
          </p>
        </div>
      </div>
    </div>
  </section>
  <p class="has-text-justified">
    Finalmente, al seguir estas recomendaciones, las MIPYMES pueden mejorar su
    seguridad y reducir el riesgo de sufrir un ataque de ciberseguridad.
  </p>
</div>
