<div class="container">
  <section class="section pt-2">
    <div class="columns">
      <div class="column is-full">
        <h1 class="is-4 title">
          MARCO DE GESTIÓN DE CIBERSEGURIDAD PARA MIPYMES
        </h1>
        <h1 class="is-7 title has-text-grey">
          Sector terciario del municipio de Fusagasugá - Cundinamarca
        </h1>
        <p class="has-text-justified">
          La importancia de las tecnologías de la información y comunicación en
          la operatividad de las empresas, especialmente en el sector del
          comercio electrónico. Sin embargo, advierte sobre los riesgos que
          enfrentan las micro, pequeñas y medianas empresas (MiPymes) debido a
          la proliferación de delitos informáticos y la falta de una sólida
          seguridad de la información. Para abordar este problema, el trabajo
          propone el diseño de un Marco de Gestión de Ciberseguridad para
          MiPymes en un municipio específico. El enfoque incluye una revisión
          teórica, diagnóstico del desarrollo del e-commerce y la gestión de la
          seguridad de la información, creación de un marco de seguridad basado
          en procesos relevantes de e-commerce y validación del marco en las
          MiPymes participantes de la investigación. El objetivo es resaltar la
          importancia de la ciberseguridad a nivel global y local, proporcionar
          una herramienta para asegurar y valorar la información manejada por
          estas empresas y servir como modelo para futuros estudios sobre la
          mejora de los procesos tecnológicos y administrativos en el sector
          empresarial.
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-full">
        <h1 class="subtitle has-text-black">Objetivos</h1>
        <p class="has-text-justified">
          Desarrollar una aplicación web que analice y valide la seguridad y
          confiabilidad de los enlaces de e-commerce de las MiPymes del sector
          terciario de Fusagasugá, Cundinamarca.
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-full">
        <h1 class="subtitle has-text-black">Integrantes</h1>
        <p class="has-text-justified">
          Este proyecto fue creado por:
          <em class="has-text-grey-light">
            Alexander Gordillo Gaitan, Geovanny Andrés Martinez Jimenez, Jose
            Alexander Herrera Ladino, Andrés Felipe Lara Nieto y María Alejandra
            Hernández Lozano.
          </em>
        </p>
      </div>
    </div>
    <hr />
    <div class="columns">
      <div class="column is-half" id="box-impacto">
        <section class="box">
          <h1 class="subtitle has-text-black m-0">Impacto</h1>
          <div class="tabs is-right is-small">
            <ul style="border: none">
              <li class="tab is-active">
                <a (click)="openTab($event, 'tab1')" href="#">
                  <i class="fa fa-circle" aria-hidden="true"></i>
                </a>
              </li>
              <li class="tab">
                <a (click)="openTab($event, 'tab2')" href="#">
                  <i class="fa fa-circle" aria-hidden="true"></i>
                </a>
              </li>
              <li class="tab">
                <a (click)="openTab($event, 'tab3')" href="#">
                  <i class="fa fa-circle" aria-hidden="true"></i>
                </a>
              </li>
              <li class="tab">
                <a (click)="openTab($event, 'tab4')" href="#">
                  <i class="fa fa-circle" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="container">
            <article id="tab1" class="content-tab">
              <p class="has-text-justified">
                Según datos de Confecámaras, en 2021 se registró un crecimiento
                positivo en las MiPymes, con un aumento del 10.6% en su creación
                respecto al año anterior. Estas empresas están principalmente en
                el sector de servicios, comercio, industria y construcción.
              </p>
              <br />
              <p class="has-text-justified">
                La implementación de políticas nacionales, como la de Inclusión
                y Educación Económica y Financiera, así como la de
                Emprendimiento, ha buscado mejorar el acceso a servicios
                financieros y promover el crecimiento y la internacionalización
                de las MiPymes.
              </p>
            </article>
            <article id="tab2" class="content-tab" style="display: none">
              <p class="has-text-justified">
                En el 2021, se registraron aproximadamente 5.4 millones de
                MiPymes en Colombia, representando cerca del 80% del sector
                productivo y siendo una de las principales fuentes de empleo.
              </p>
              <br />
            </article>
            <article id="tab3" class="content-tab" style="display: none">
              <p class="has-text-justified">
                El proyecto que se presenta tiene como objetivo impactar a
                empresarios del subsector de servicios y comercio en el
                municipio de Fusagasugá, proponiendo buenas prácticas en la
                protección de datos informáticos y dispositivos para enfrentar
                los desafíos empresariales y la proliferación de ciberataques.
              </p>
              <br />
              <p class="has-text-justified">
                Este proyecto se alinea con los Objetivos de Desarrollo
                Sostenible de la ONU, en particular con el objetivo de Trabajo
                Decente y Desarrollo Económico, así como con el de Industria,
                Innovación e Infraestructura.
              </p>
            </article>
            <article id="tab4" class="content-tab" style="display: none">
              <p class="has-text-justified">
                La investigación se basa en el Modelo Educativo Digital
                Transmoderno (MEDIT) de la Universidad de Cundinamarca, buscando
                soluciones a problemáticas sociales y tecnológicas y promoviendo
                el desarrollo económico y competitivo de las MiPymes.
              </p>
              <br />
              <p class="has-text-justified">
                Los resultados esperados de este proyecto no solo impactarán en
                lo académico y tecnológico, sino que también beneficiarán a los
                microempresarios de Fusagasugá, mejorando sus condiciones de
                vida y fortaleciendo la seguridad en el manejo de transacciones
                digitales en sus negocios.
              </p>
            </article>
          </div>
        </section>
      </div>
      <div class="column is-half">
        <section class="box">
          <h1 class="subtitle has-text-black">Resultados</h1>
          <p class="has-text-justified">
            Este proyecto ha logrado desarrollar una aplicación web para validar
            la seguridad de enlaces mediante certificados SSL/TLS. Además, se
            creó un marco de ciberseguridad adaptado a hoteles, hogares
            geriátricos y gastrobares en Fusagasugá.
          </p>
          <br />
          <p class="has-text-justified">
            Finalmente, se participó en ponencias internacionales como ACOFI
            (Asociación Colombiana de Facultades de Ingeniería) en la ciudad de
            Cartagena - Colombia y CUICIID en Madrid - España, fortaleciendo la
            difusión de conocimientos en ciberseguridad. Estos resultados
            resaltan el compromiso con la innovación y la seguridad en entornos
            digitales.
          </p>
        </section>
      </div>
    </div>
  </section>
</div>
