<!-- ---------- BIENVENIDA ---------- -->
<section class="section pb-0">
  <div class="columns">
    <div class="column is-two-thirds">
      <h1 class="has-text-left title">¡Bienvenido!</h1>
      <p class="has-text-justified mt-1">
        Es importante destacar que antes de ingresar a un sitio web y exponer
        información personal y/o confidencial, es bueno hacernos la siguiente
        pregunta: ¿És este sitio web seguro? Para verificar la autenticidad de
        un sitio web es preponderante identificar que tenga un certificado
        <strong>SSL (Secure Sockets Layer)</strong>, que son protocolos de
        seguridad cuyo objetivo es garantizar que los datos viajen de forma
        segura en internet.
      </p>
    </div>
    <div class="column">
      <img
        src="../../assets/img/security-index.jpg"
        alt="Ciberseguridad"
        class="box"
      />
    </div>
  </div>
</section>

<!-- ---------- FORMULARIO ---------- -->

<section class="section">
  <div class="columns">
    <div class="column is-9 is-offset-1">
      <p class="control">
        <label class="label">Verifica un sitio web</label>
      </p>
      <div class="field is-grouped">
        <p class="control is-expanded">
          <input
            class="input is-rounded"
            [ngClass]="{ 'is-danger': error }"
            type="text"
            placeholder="Introduzca el enlace del sitio Ej: https://google.com"
            name="url"
            required
            [(ngModel)]="url"
          />
        </p>

        <p class="control">
          <button (click)="verifyUrl()" class="button is-info">
            Verificar
          </button>
        </p>
      </div>
    </div>
  </div>
  <div class="columns" *ngIf="error">
    <div class="column is-8 is-offset-1">
      <div class="notification is-danger is-light">
        {{ msjeError }}
      </div>
    </div>
  </div>
</section>

<!-- ---------- RESULTADO ---------- -->

<div class="security-info" *ngIf="resultado">
  <h2>{{ resultado.titulo }}</h2>
  <p>{{ resultado.mensaje }}</p>
  <p *ngIf="resultado.certificados">Certificados:</p>

  <ul>
    <li *ngFor="let certificado of resultado.certificados">
      {{ certificado }}
    </li>
  </ul>
</div>
